<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body class="container">

<!--NavBar-->
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse container" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Feature</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li>
        </ul>
    </div>
</nav>
<!--Table -->
<br><br>
<a th:href="@{/form-add}" type="button" class="btn btn-success">Add New Article</a><br>
<div class="container-fluid"><br>



    <table class="table table-striped">
        <thead>
        <tr style="text-align: center">
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Profile</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody style="text-align: justify">
        <tr th:each="article: ${articles}">
            <td th:text="${article.getId()}"></td>
            <td th:text="${article.getTitle()}"></td>
            <td th:text="${article.getDescription()}"></td>
            <td>
                <div>
                    <img th:src="${article.getProfile()}" width="100px" height="100px" />
                </div>
            </td>
            <td class="btn-group py-5">
                <a th:href="@{/view-article/{id}(id=${article.getId()})}" type="button" style="display:inline-block;vertical-align:middle;" class="btn btn-secondary">View</a>
                <button type="button" class="btn btn-success" style="display:inline-block;vertical-align:middle;">Update</button>
                <a th:href="@{/delete-article/{id}(id=${article.id})}" type="button" class="btn btn-danger" style="display:inline-block;vertical-align:middle;">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>





<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>